<% if @book.errors.any? %>
 <div class="error-message">
    <ul style="color: red;">
        <%= @book.errors.count %>件のエラーが発生しました
        <% @book.errors.full_messages.each do |message| %>
        <li style="color: red;"><%= message %></li>
        <% end %>
    </ul>
 </div>
<% end %>