<main>
    <div class="shows">
        <h2 class="show-title">Title:</h2>
        <%= @book.title %>
        <h2 class="show-body">Body:</h2>
        <%= @book.body %>
    </div>
    <div class="btn">
        <p class="btn-1"><%= link_to "Edit", edit_book_path(@book) %></p>
        <p class="btn-1"><%= link_to "Back", books_path %></p>
    </div>
</main>